<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
  </div>
</div>

<hr>

<h2>
  Add a new post
</h2>

<form action="/insert_post" method="post">
  <div>
    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_box" name="query_title">
  </div>

  <div>
    <label for="body_box">
      Body
    </label>

    <textarea id="body_box" name="query_body" rows="3"></textarea>
  </div>

  <div>
    <label for="expires_on_box">
      Expires on
    </label>

    <input type="date" id="expires_on_box" name="query_expires_on">
  </div>

  <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">

  <button>
    Add post
  </button>
</form>

<hr>

<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% @active_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<h2>Expired posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expired on</th>
  </tr>

  <% @expired_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
